body{
    background-color: #4E576A;
    padding: 0px;
    margin:0px;
}


.topcontainer{
  text-align: left;
  height: 70px;
}


.name {
  font-family: 'Playfair Display', serif;
  color: #FFF;
  padding-top: 8px;;
  font-size: 40px;
  font-style: italic;
  text-align: center;

  }

.jumbotron {
  background: url("../images/Jumbotron.jpg") no-repeat center center;
  background-size: cover;
  height: 700px;
  padding-bottom: 10px;

}

.page-header {

  font-family: 'Playfair Display', serif;
  color:#fff;
  text-align: center;
  font-weight: 300;
}

.page-header {
  margin-top: 15%;
}

.page-header {
  border-bottom: 0px;

}

/* 3 sections */
.threesections{
  text-align: center;
  margin-top: -150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.left h2{
    text-align: center;
    color: #FFF;
    margin-bottom: 30px;
}

.left{
  border: 2px solid #FFF;
  border-radius: 10px;
  background-color: #FFD800;
  opacity: 0.9;
  font-family: 'Playfair Display', serif;
  text-align: center;
  height:200px;
  margin-bottom: 10px;
  margin-right: 25px;

}
.middle h2{
  margin-bottom: 30px;
  color: #FFF;
}

.middle {
  border: 2px solid #FFF;
  border-radius: 10px;
  background-color: #D01A55;
  font-family: 'Playfair Display', serif;
  text-align: center;
  opacity: 0.8;
  height:200px;
  margin-right: 25px;
  margin-bottom: 10px;
  font-size: 15px;
}

.right h2{
  margin-bottom: 30px;
  color: #FFF;
}

.right {
  border: 2px solid #FFF;
  border-radius: 10px;
  background-color: #CBAEAB;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 10px;
  height:200px;
}


.experience {

  font-weight: lighter;
  color:#fff;
}

.contact{
  background: url('../images/amsterdam.jpeg') no-repeat center center fixed;
  background-size: cover;

}

.description{
	margin-bottom: 50px;
	margin-top: 200px;
	text-align: center;
	background-color: black;
	opacity: 0.7;
	border-radius: 10px;
  color: #fff;
}

.description-text{
	color: #fff;
	background-color: black;
	opacity: 0.7;
	border-radius: 10px;
	height: 100px;
}

.fa {
  color:#fff;
	opacity: 0.7;
	margin-right: 30px;
}
.glyphs{
  text-align: center;
  padding-bottom: 200px;
}
